<footer>
  <a href="https://www.linkedin.com/in/christophermaleakethompson/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
  <a href="https://xenodochial-swanson-1aa82c.netlify.app/">Creator's Portfolio</a>
</footer>
