<button type="button" class="btn-login" data-toggle="modal" data-target="#logIn">Log in</button>


<div id="logIn" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Welcome back!</h3>
      </div>
      <div class="modal-body">
        <form>
          <input type="string" placeholder="Email" size="40" class="email"><br/>
          <input type="string" placeholder="Enter your password" size="40">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#signUp"><a>Not a member?</a></button>
        <a href="/home"><button type="button">Continue</button></a>
      </div>
    </div>

  </div>
</div>
