<button type="button" class="btn-signup" data-toggle="modal" data-target="#signUp">Sign up</button>


<div id="signUp" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Welcome to Meal List</h3>
      </div>
      <div class="modal-body">
        <form>
          <input type="string" placeholder="Name" class="email" size="40"> <br/>
          <input type="string" placeholder="Email" class="email" size="40"> <br/>
          <input type="string" placeholder="Create a password" size="40"> <br/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#logIn">Already a member?</button>
        <a href="/home"><button type="button">Continue</button></a>
      </div>
    </div>

  </div>
</div>
