<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Meal List</title>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <%- include('./partials/font.ejs') %>
  <link rel="stylesheet" href="/css/style.css">
</head>
  <body>
    <div class="nav-container">
      <%- include('./partials/header.ejs') %>
      <div class="logout">
        <button><a class="" href="/mylist">Back to my list</a></button>
        <button><a class="" href="/">Logout</a></button>
      </div>
  </div>


<!-- Number of guests that generate more input fields -->
      <!-- *Number of guests:<input type="number" id="guests" name="guests" min="1" max="5" placeholder="1"> -->


      <div class="restaurant-body">

        <form action="/mylist" method="POST">
          *Restaurant Name: <input type="text" name="restaurantName" size="88"/><br/>
          *Location: <input type="text" name="location" size="88"/><br/>
          *Rating: <input type="number" min="1" max="5" name="rating" size="88"/><br/>
          *Date: <input type="text" name="date" placeholder="mm/dd/yyyy" size="88"/><br/>
      </div>
      <div class="name-body">
          *Name:<input type="text" name="name"/><br/>
          Appetizer: <input type="text" name="appetizer"/><br/>
          Entree: <input type="text" name="entree"/><br/>
          Dessert: <input type="text" name="dessert"/><br/>
          Alcoholic Drink: <input type="text" name="alcoholicDrink"/><br/>
          Non-Alcoholic Drink: <input type="text" name="nonAlcoholicDrink"/><br/>
          <p>* field is required.</p>
          <!-- <div id="container"></div> -->
          <button class="" type="submit" value="Submit Changes">Submit Changes</button>
        </form>
      </div>
      <div class="footer">
        <%- include('./partials/footer.ejs') %>
      </div>
  </body>
  <!-- adds more guest  -->
  <!-- <script>
//// https://stackoverflow.com/questions/54645570/get-input-number-value-and-loop-to-display-text-field
    $('#guests').on('change keyup',function(){
    let inputs = ('');
    let value = parseInt($(this).val());
    for(let i = 1; i<value; i++){
      inputs += `*Name: <input type="text" name="name"/><br/>
      Appetizer: <input type="text" name="appetizer"/><br/>
      Entree: <input type="text" name="entree"/><br/>
      Dessert: <input type="text" name="dessert"/><br/>
      Alcoholic Drink: <input type="text" name="alcoholicDrink"/><br/>
      Non-Alcoholic Drink: <input type="text" name="nonAlcoholicDrink"/><br/>`
    }
    $('#container').html(inputs)
  })
  </script> -->
</html>
