<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Meal List</title>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <%- include('./partials/font.ejs') %>
  <link rel="stylesheet" href="/css/style.css">
</head>
  <body>
    <div class="nav-container">
      <%- include('./partials/header.ejs') %>

      <div class="logout">
        <button><a class="" href="/">Logout</a></button>
      </div>
  </div>


      <div class="home-body">
        <div class="mylist-card">
          <img class="home-img" src="/imgs/blank-paper.jpeg">
          <button class="mylist-btn"><a href="/mylist">Go to my list</a></button>
        </div>
        <span id="map" class="card bg-light mb-3"></span>
      </div>

    <div class="footer">
      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
<!-- google developer documentation -->
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu7xoRqwAfz-kBNeWr5pkEqAT7m_ban8g&libraries=localContext,places&v=beta&callback=initMap">
  </script>
  <script>
  let map, infoWindow;

  function initMap() {
// creates the map and allows it to access your location
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 84.3880, lng: 33.7490 },
      zoom: 17,
    });
    infoWindow = new google.maps.InfoWindow();

    const locationButton = document.createElement("button");

    locationButton.textContent = "Pan to Current Location";
    locationButton.classList.add("custom-map-control-button");
    map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
    locationButton.addEventListener("click", () => {
      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            const pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent("Location found.");
            infoWindow.open(map);
            map.setCenter(pos);
          },
          () => {
            handleLocationError(true, infoWindow, map.getCenter());
          }
        );
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    });
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(
      browserHasGeolocation
        ? "Error: The Geolocation service failed."
        : "Error: Your browser doesn't support geolocation."
    );
    infoWindow.open(map);
  }
</script>

</html>
